/screencasts/Samsung A32_P_cppk.mp4
/screencasts/Samsung A32_P_dit_almatel.mp4
/screencasts/Samsung A32_P_dit_beeline.mp4
/screencasts/Samsung A32_P_dit_Nauka 3.mp4
/screencasts/Samsung A32_P_dit_snb.mp4
/screencasts/Samsung A32_P_Sola_Metrotelecom Free.mp4
/screencasts/XiaomiMi9_P_ttk_hospitals.mp4
/screencasts/XiaomiRedmiNote9_P_aeroexpress.mp4
/screencasts/XiaomiRedmiNote9_P_cppk.mp4
/screencasts/XiaomiRedmiNote9_P_dit_akado.mp4
/screencasts/XiaomiRedmiNote9_P_dit_almatel.mp4
/screencasts/XiaomiRedmiNote9_P_dit_beeline.mp4
/screencasts/XiaomiRedmiNote9_P_dit_enforta_street.mp4
/screencasts/XiaomiRedmiNote9_P_dit_guest_wifi.mp4
/screencasts/XiaomiRedmiNote9_P_dit_mts_vdnh.mp4
/screencasts/XiaomiRedmiNote9_P_dit_Nauka 3.mp4
/screencasts/XiaomiRedmiNote9_P_dit_snb.mp4
/screencasts/XiaomiRedmiNote9_P_MCC_incarnet.mp4
/screencasts/XiaomiRedmiNote9_P_metro.mp4
/screencasts/XiaomiRedmiNote9_p_mvf_bus.mp4
/screencasts/XiaomiRedmiNote9_P_Sola_Metrotelecom Free.mp4
/screencasts/XiaomiRedmiNote9_P_ttk_hospitals.mp4
/logs/buttonClick.txt
/logs/SIMF_auto.txt
/venv/
